body {
    box-sizing: border-box;
    text-align: center;
    place-content: center;
}
input:hover{
    outline-color:#00BFFF;
}
input:active{
    outline-color:#00BFFF;
}
input{
    width:16em;
    height: 2em;
    margin-bottom:0.3125em;
}
input[id=Mobile]{
    width: 32.9em;
}
input[id=Email]{
    width: 32.9em;
}
span {
    color: GhostWhite;
    background-color: CornflowerBlue;
    display: inline-block;
    border-radius: .25em;
    outline: none;
}
a:link {
    text-decoration: none;
    color: RoyalBlue;
}
a:visited {
    text-decoration: none;
    color: RoyalBlue;
}
a:hover {
    text-decoration: none;
    color: RoyalBlue;
  }
a:active {
    text-decoration: none;
    color: RoyalBlue;
  }
input[type=submit][value=Register]{
    color: GhostWhite;
    background-color: CornflowerBlue;
    border-radius: .25em;
    border: none;
}
input[type=submit][name=Sign_In]{
    color: GhostWhite;
    background-color: #34b334;
    border-radius: .25em;
    border: none;
}
input[type="checkbox"]{
    width: auto;
    height: auto;
    margin-left : -25vw;
}
p {
    font-size: 80%;
    display: inline;
    margin-left : 25vw
}
@media only screen and (max-width: 500px){
    body {
        place-content: center;
    }
}
